#services-wrapper{
    height: 450px;
    background-color:  rgb(191, 189, 189);
    padding: 50px;
}

#service-box{
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
    float: left;
    margin: 30px;
    padding: 10px;
    box-shadow: 3px 3px 5px white;
}

#service-box h3 {
    color: darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 2px solid red;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
}
#service-box img{
    height: 75px;
    width: 75px;
    position: relative;
    left: 80px;
}